from auto_mas_core import PluginConfig
from pydantic import Field


class Config(PluginConfig):
    """${plugin_title} 自有配置。"""

    hello: str = Field(
        default="来自 ${plugin_title} 插件的问候",
        description="问候词",
    )
